@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope';
}
h1 {
  /*text-4xl*/
  font-size: 2.25rem/* 36px */;
  line-height: 2.5rem/* 40px */;
  font-weight: 600;
}
h2 {
  /*text-3xl*/
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem;
  font-weight: 600;
}

h3 {
  /*text-2xl*/
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 600;
}
h4 {
  /*text-xl*/
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */;
  font-weight: 600;
}

@layer base {
  :root {
    --color-brand: 17 24 39;
  }
  html {
    @apply bg-body;
    -webkit-tap-highlight-color: transparent;
  }
  html.dark {
    @apply bg-dark text-white;
  }
  html,
  body {
    @apply font-body antialiased;
    font-family: 'Manrope';
    font-style: normal;
  }
  .dynamic-html h6 {
    @apply font-medium uppercase;
  }
  .dynamic-html p {
    @apply mb-3;
  }
}

@layer utilities {
  .text-case-inherit {
    text-transform: inherit;
  }
  .letter-space-inherit {
    letter-spacing: inherit;
  }
  .word-break-all {
    word-break: break-all;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-700 {
    animation-delay: 700ms;
  }
  .text-vertical {
    writing-mode: tb;
    text-orientation: upright;
  }
}

/* Hide spin button for input type number */
input.spin-button-hidden::-webkit-outer-spin-button,
input.spin-button-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*================================================================
Styles for Swiper slider
================================================================*/
.swiper {
  @apply flex flex-col;
}

.swiper-wrapper {
  @apply order-first;
}

.swiper-scrollbar {
  @apply relative rounded bg-gray-200 dark:bg-gray-600;
}

.swiper-horizontal > .swiper-scrollbar {
  @apply z-10 mt-4 mb-0 h-0.5 w-full sm:mt-6;
}

.swiper-vertical > .swiper-scrollbar {
  @apply absolute top-0 right-1 z-10 h-full w-0.5;
}

.swiper-scrollbar-drag {
  @apply relative rounded bg-gray-900 dark:bg-light-dark;
}

.swiper-horizontal .swiper-scrollbar-drag {
  @apply top-[-1px] left-0 h-[3px] w-full shadow-sm;
}

.swiper-vertical .swiper-scrollbar-drag {
  @apply left-[-1px] top-0 h-full w-[3px] shadow-sm;
}

.swiper-scrollbar-cursor-drag {
  @apply cursor-move;
}

.swiper-scrollbar-lock {
  @apply hidden;
}

.transaction-table {
  border-spacing: 0 12px;
  margin-top: -12px;
}
.transaction-table > thead tr > th {
  text-align: left;
}
.text-heading-style {
  @apply text-sm font-medium tracking-wider;
}

/* React Share button custom styles */
.product-share .react-share__ShareButton {
  @apply flex flex-col items-center justify-center;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(214, 214, 214);
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-brand));
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-brand));
}

/*
loading spin
*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
custom grid column
*/
.custom-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.custom-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.custom-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.custom-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.custom-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.custom-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}